body {
    margin: 0 auto;
    background: url(../assets/images/Task_BK.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}
table {
    border-radius: 10px;
    text-align: left;
    width: 100%;
    height: 100%;
    color: darkblue;
    text-shadow: 1px 1px white;
    font-size: 1.1em;
}
tr, th, td {
    padding: 5px;
    border-bottom: solid 1px black;
}
a {
    text-decoration: none;
    padding-left: 15px;
    color: white;
}
caption {
    text-align: left;
    font-size: 1.75em;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 20px;
}
.footer {
    border-top: 2px solid orange;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background:rgba(27, 149, 243, 0.6);
    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
    height: 40px;
    opacity: .5;
}
.app-name {
    font-family: 'Pacifico', cursive;
    color: white;
}
.app-name, .wrapper-links {
    padding: 0;
}
.navbar, .wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper {
    padding-bottom: 100px;
}
.navbar {
    height: 100px;
    padding-top: 15px;
}
.wrapper-links, .app-name {
    margin: 0 auto;
}
.wrapper-links {
    text-align: right;
    padding-top: 15px;
}
.history-table {
    max-width: 900px;
    margin: 0 auto;
}
#nav-wrapper {
    background: rgba(27, 149, 243, 0.6);
    border-bottom: 2px solid orange;
    opacity: .5;
}
#container-main {
    padding: 0;
}
#checkbox {
    text-align: center;
}