body {
    margin: 0 auto;
    background: url(../assets/images/Task_BK.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Poiret One', cursive;
}
table {
    border-radius: 10px;
    text-align: left;
    width: 100%;
    height: 100%;
    color: darkgreen;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.95);
    font-size: 1.1em;
    font-weight: 700;
}
tr, th, td {
    padding: 5px;
    border-bottom: solid 1px black;
}
a {
    text-decoration: none;
    letter-spacing: 1.5px;
    padding-left: 15px;
    color: white;
    text-shadow: .7px .7px orange;
}
a:hover {
    color: orange;
    text-shadow: .7px .7px white;
}
caption {
    text-align: left;
    font-size: 1.75em;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 20px;
}
p {
    margin: 0;
}
.title {
    margin-bottom: 0px;
}
.footer {
    border-top: 2px solid orange;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background:rgba(27, 149, 243, 0.6);
    font-family: 'Dr Sugiyama', cursive;
    text-shadow: 1px 1px orange;
    font-size: 1.3em;
    color: white;
    text-align: center;
    height: 30px;
    opacity: .5;
}
.app-name {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 3.15em;
    color: white;
}
.app-name, .wrapper-links {
    padding: 0;
}
.navbar, .wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper {
    padding-bottom: 100px;
}
.navbar {
    height: 100px;
    padding-top: 13px;
}
.wrapper-links, .app-name {
    margin: 0 auto;
}
.wrapper-links {
    text-align: right;
    padding-top: 15px;
}
.history-table {
    max-width: 900px;
    margin: 0 auto;
}
.main-title {
    color: orange;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.65);
}
#nav-wrapper {
    background: rgba(27, 149, 243, 0.6);
    border-bottom: 2px solid orange;
    opacity: .5;
}
#container-main {
    padding: 0;
}
#checkbox {
    text-align: center;
}
#radio-buttons {
    padding: 2px;
}
#remove-task {
    font-size: .75em;
    color: red;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
    padding: 0;
}
#time {
    font-size: .75em;
}
.radio-button {
    margin-right: 5px;
}
span {
    font-size: .85em;
}
.date-field {
    font-size: .9em;
    width: 150px;
}
.text-field {
    width: 100%;
}
.input-field {
    border-radius: 4px;
}
.btn {
    display: inline-block;
    border-radius: 2px;
    border: none;
    height: 25px;
    padding: 2px 15px;
    margin: 3px 0;
    font-size: .85em;
}
.ghost {
  background-color: transparent;
  color: rgba(27, 149, 243, 0.6);
  border: 1px solid orange;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.ghost:hover {
  background-color: rgba(27, 149, 243, 0.6);
  color: white;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}