    <h1>Task Home Page</h1>
        <div id="task_wrapper">
            <form name="taskForm" ng-submit="addTask()" class="row">
                <h4 class="col_2 title">Please enter task:</h4>
                <input ng-model="newTaskText" class="col_4 text-field" required/>
                <h4 class="col_2 title">Please enter date:</h4>
                <input type="date"  ng-model="newTaskDate" class="col_2" required/>
                <button type="submit" class="col_2 last">Add Message</button>
            </form>
            <div role="alert">
                <span class="error" ng-show="taskForm.input.$error.date"></span>
            </div>
        </div>
    <hr>
    <h2>Current Tasks</h2>
    <table class="table-task">
        <tr id="table-header">
            <th>Task</th>
            <th>Target Date of Completion</th>
            <th>Created On</th>
            <th>Days Left</th>
            <th>Taks Status</th>
        </tr>
        <tr ng-repeat="task in tasks">
            <td> {{ task.text }} </td>
            <td id="task-date"> {{ task.date | date: "MM-dd-yy" }} </td>
            <td> {{task.created | date: "MM-dd-yy" }} </td>
            <td> {{ (4 - (((start) - (task.created))/86400000)).toPrecision(2) }} </td>
            <td> {{ task.status }} </td>
        </tr>
    </table>